In [6]:
print("SOLUTION 1: LIST OPERATIONS")
print("-" * 50)

L = [10, 20, 30, 40, 50, 60, 70, 80]
print("Original List:", L)

print("\nAfter adding 200 and 300:")
L.extend([200, 300])
print(L)

print("\nAfter removing 10 and 30:")
L.remove(10)
L.remove(30)
print(L)

print("\nAfter sorting in ascending order:")
L.sort()
print(L)

print("\nAfter sorting in descending order:")
L.sort(reverse=True)
print(L)

SOLUTION 1: LIST OPERATIONS
--------------------------------------------------
Original List: [10, 20, 30, 40, 50, 60, 70, 80]

After adding 200 and 300:
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

After removing 10 and 30:
[20, 40, 50, 60, 70, 80, 200, 300]

After sorting in ascending order:
[20, 40, 50, 60, 70, 80, 200, 300]

After sorting in descending order:
[300, 200, 80, 70, 60, 50, 40, 20]

In [7]:
print("SOLUTION 2: TUPLE OPERATIONS")
print("-" * 50)

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print("Original tuple:", scores)

max_score = max(scores)
max_index = scores.index(max_score)
print(f"\nHighest score: {max_score} at index {max_index}")

min_score = min(scores)
min_count = scores.count(min_score)
print(f"Lowest score: {min_score} appears {min_count} times")

reversed_list = list(reversed(scores))
print(f"\nReversed tuple as list: {reversed_list}")

score_to_find = 76
if score_to_find in scores:
    print(f"\nScore {score_to_find} found at index {scores.index(score_to_find)}")
else:
    print(f"\nScore {score_to_find} not found")

SOLUTION 2: TUPLE OPERATIONS
--------------------------------------------------
Original tuple: (45, 89.5, 76, 45.4, 89, 92, 58, 45)

Highest score: 92 at index 5
Lowest score: 45 appears 2 times

Reversed tuple as list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]

Score 76 found at index 2

In [8]:
print("SOLUTION 3: RANDOM NUMBERS ANALYSIS")
print("-" * 50)

import random

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

numbers = [random.randint(100, 900) for _ in range(100)]
print("Generated 100 random numbers between 100 and 900")

odd_numbers = [n for n in numbers if n % 2 != 0]
even_numbers = [n for n in numbers if n % 2 == 0]
prime_numbers = [n for n in numbers if is_prime(n)]

print(f"\nNumber of odd numbers: {len(odd_numbers)}")
print(f"Number of even numbers: {len(even_numbers)}")
print(f"Number of prime numbers: {len(prime_numbers)}")

SOLUTION 3: RANDOM NUMBERS ANALYSIS
--------------------------------------------------
Generated 100 random numbers between 100 and 900

Number of odd numbers: 46
Number of even numbers: 54
Number of prime numbers: 16

In [9]:
print("SOLUTION 4: SET OPERATIONS")
print("-" * 50)

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print("Set A:", A)
print("Set B:", B)

print("\nUnique scores (Union):", A.union(B))
print("Common scores (Intersection):", A.intersection(B))
print("Exclusive scores (Symmetric difference):", A.symmetric_difference(B))

print(f"\nIs A subset of B? {A.issubset(B)}")
print(f"Is B superset of A? {B.issuperset(A)}")

X = int(input("\nEnter score to remove from A: "))
if X in A:
    A.remove(X)
    print(f"Updated set A: {A}")
else:
    print(f"Score {X} not found in set A")

SOLUTION 4: SET OPERATIONS
--------------------------------------------------
Set A: {56, 34, 90, 78}
Set B: {90, 45, 78, 23}

Unique scores (Union): {34, 45, 78, 23, 56, 90}
Common scores (Intersection): {90, 78}
Exclusive scores (Symmetric difference): {34, 45, 23, 56}

Is A subset of B? False
Is B superset of A? False

Enter score to remove from A: 90
Updated set A: {56, 34, 78}

In [10]:
print("SOLUTION 5: DICTIONARY KEY RENAMING")
print("-" * 50)

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

print("Original dictionary:", sample_dict)
sample_dict["location"] = sample_dict.pop("city")
print("\nDictionary after renaming 'city' to 'location':", sample_dict)

SOLUTION 5: DICTIONARY KEY RENAMING
--------------------------------------------------
Original dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

Dictionary after renaming 'city' to 'location': {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}